 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px; 
 
}

body {
    font-family: Arial, sans-serif;
    background: #f8f8f8;
    overflow: hidden auto;
}

/* Header Section */
header {
    background: #2c2c2c; 
    padding: 1rem 0;
    color: white;
    width: 95%;
    margin: auto;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 1.25rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}
.second{
    height: 35rem;
    width: 95%;
    margin: auto;
    border: 1px solid black;
    background-image:url("./pexels-pixabay-51953.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    
}
.sec{
   margin-top:17rem;
   justify-content: center;
   align-items: center;
   text-align: center; 
   color:rgb(255, 233, 233);
   font-weight: bolder; 
   justify-content: center;
  align-items: center;
   
}
.three{
    display: flex;
    height: 15rem;
    width: 95%;
    margin: auto;
    /* border: 1px solid black; */
    background-color: #ccc;
    justify-content: center;
    align-items: center;
}
.th{
    height: 15rem;
    width: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height:2rem;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.four{
   display: flex;
    height: 35rem;
    width: 95%;
    margin: auto;
    /* border: 1px solid black; */
    gap: 1rem;
}

.four-sec{
  height: 35rem;
  width: 95%;
  display: flex;
  margin: auto;
  /* border: 1px solid rgb(12, 1, 1); */
 
}
.four{
    height: 35rem;
    width: 100%;
}

.f1 {
  background-color: #f0a428;
  color: white;
  width: 25rem;
  height: 34rem;
  display: flex;
  font-size: 1.5rem; 
  text-align: center;
  background-image: url("./1000_F.jpg");
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
}

.right-panel {
  width: 70%;
  margin-top: 1rem; 
  
}

.box-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.25rem; 
  /* border: 1px solid black; */
}

.box-row.single .box {
  width: 100%;
}

.box {
  background-color: #ccc;
  padding: 1.25rem;
  width: 48%;
  font-weight: 400;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 10rem;
  box-shadow: 0 0 0.725rem rgba(0, 0, 0, 0.1);
}

.box h3 {
  margin-top: 0;
  color: #2c3e50;
}
.five{
    display: flex;
    height: 21rem;
    width: 95%;
    margin: auto;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #e7e2e2;
}
.Five-1{
    height: 15rem;
    width: 50%;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    margin-top: 3rem;
}
.five-2{
  height: 20.7rem;
  width:50%;
  /* border: 1px solid black; */
  background-image: url("./Boys.jpg");
  background-size: cover;
  background-size: 100%;
}
.six{
    display: flex;
    height: 20rem;
    width: 95%;
    margin: auto;
    /* border: 1px solid black; */
    gap: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    background-color: #e7e7e7;

    
  
}
.s1{
  display: flex  ;
  /* border: 1px solid black; */
  height: 20rem;
  width: 100%;
  gap: 1rem;
  justify-content: center;
}

.s2{
  border: 1px solid black;
  height: 19rem;
  width: 23rem;
  align-items: center;
  text-align: center;
  padding-top: 5rem;
  margin-right: 1rem;
  box-shadow: 2px 3px 15px grey;
  border-radius: 1rem;
}

.left{
  height: 35rem;
  width: 30rem;
  /* border: 1px solid black; */
  padding-top: 3rem;
  padding-left: 1rem;
  font-weight:500;
  
}
.seven{
  display: flex;
  height: 21rem;
  width: 95%;
  margin: auto;
  background-color: #e7e7e7;
  /* border: 1px solid black; */
  gap:1rem;
  align-items: center;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;

}
.sev-1{
  height: 19rem;
  width: 22.8rem;
  border: 1px solid black;
  align-items: center;
  text-align: center;
  padding-top: 5rem;
  margin-right: 1rem;
  box-shadow: 2px 3px 15px grey;
  border-radius: 1rem;
}
.sev-2{
  height: 19rem;
  width: 23rem;
  border: 1px solid black;
  align-items: center;
  text-align: center;
  padding-top: 5rem;
  margin-right:0.5rem;
  box-shadow: 2px 3px 15px grey;
  border-radius: 1rem;
}
.Eight{
  display: flex;
  height: 10rem;
  width: 95%;
  margin: auto;
  /* border: 1px solid black; */
  gap: 1rem;
  text-align: center;
  justify-content: center;
  align-items: center;

}
.e1{
  height:10rem;
  width: 90%;
  border: 1px solid black;
  justify-content: center;
  align-items:center;
  text-align: center;
  
}
.e1 p{
  padding-top: 4rem;
}
#blue{
  background-color: rgb(163, 163, 233);
  color: #140404;
}
.footer-end{
    display: flex;
    height: 6rem;
    width: 95%;
    margin: auto;
    background-color: #e0dddd;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
  }